<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514700413031-v7jpr539h0qaeeaim5tpmml45450pdbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514700413031-v7jpr539h0qaeeaim5tpmml45450pdbu</string>
	<key>API_KEY</key>
	<string>AIzaSyA-RV0bY9r61gR52C3TYY0SwVPmGZK-6Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>514700413031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockin</string>
	<key>PROJECT_ID</key>
	<string>stock-in-a6ee1</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-in-a6ee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514700413031:ios:358ffcdedacda457166cc2</string>
</dict>
</plist>